#about {
	background: $gray-darker;
	display: flex;
	flex-flow: row;

	// min-height: 40vw;

	figure {
		background: url("../images/portrait_hd.jpg");
		background-position: center;
		background-size: cover;
		margin-bottom: 0;
		display: none;

		@include media-breakpoint-up(sm) {
			display: block;
			width: percentage(5/12);
		}
		@include media-breakpoint-up(md) {
			display: block;
			width: percentage(6/12);
		}

		@include media-breakpoint-up(xl){
			min-height: 40vw;
		}
	}

	article {
		padding: $spacer-xl map-get($grid-gutter-widths, xs) / 2;
		background: url('../images/textblock-bg.gif');
		background-size: 8px 8px;
		@media
			only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (   min--moz-device-pixel-ratio: 2),
			only screen and (     -o-min-device-pixel-ratio: 2/1),
			only screen and (        min-device-pixel-ratio: 2),
			only screen and (                min-resolution: 192dpi),
			only screen and (                min-resolution: 2dppx) {
			background: url("../images/textblock-bg@2x.gif");
			background-size: 8px 8px;
		}

		display: flex;
		flex-flow: column;
		justify-content: center;

		@include media-breakpoint-up(sm) {
			width: percentage(7/12);
		}
		@include media-breakpoint-up(md) {
			width: percentage(6/12);
			padding: $spacer-xl;
		}
	}
}
