#about {
	padding: $spacer-xl*2 0;

	background: $gray-darker;

	@include media-breakpoint-up(md) {
		background: url("../images/portrait.jpg");
		background-position: center;
		background-size: cover;
	}

	header, .content-box {
		max-width: 60rem;
		margin-left: map-get($grid-gutter-widths, xs) / 2;
		margin-right: map-get($grid-gutter-widths, xs) / 2;

		@include media-breakpoint-up(sm) {
			width: percentage(3 / 4);
			margin-left: auto;
			margin-right: auto;
		}
		@include media-breakpoint-up(md) {
			width: 50%;
			margin-right: 0;
			margin-left: 50%;
			max-width: 30rem;
		}

		h2 {
			max-width: 55rem;
		}
	}
}
