html {
	font-size: $font-size-root;
	// responsive font size
	@include media-breakpoint-up(sm) { font-size: $font-size-root + 1; }
	@include media-breakpoint-up(md) { font-size: $font-size-root + 2; }
	@include media-breakpoint-up(lg) { font-size: $font-size-root + 3; }
	@include media-breakpoint-up(xl) { font-size: $font-size-root + 4; }
}

body > section header {
	padding-bottom: $spacer-xl;

	@include media-breakpoint-up(md) {
		max-width: percentage(8 / 12);
		margin: 0 auto;
	};
}
