#projects {
	padding: $spacer-xl*2 0;

	background: url("../images/inflicted.png");
	background-size: 240px 240px;
	@media
		only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (   min--moz-device-pixel-ratio: 2),
		only screen and (     -o-min-device-pixel-ratio: 2/1),
		only screen and (        min-device-pixel-ratio: 2),
		only screen and (                min-resolution: 192dpi),
		only screen and (                min-resolution: 2dppx) {
		background: url("../images/inflicted_@2X.png");
		background-size: 240px 240px;
	}

	header {
		margin-bottom: $spacer-xl*2;
		max-width: 60rem;
		margin-left: map-get($grid-gutter-widths, xs) / 2;
		margin-right: map-get($grid-gutter-widths, xs) / 2;

		@include media-breakpoint-up(sm) {
			width: percentage(3 / 4);
			margin-left: auto;
			margin-right: auto;
		}
		@include media-breakpoint-up(md) {
			width: percentage(2 / 3);
		}

		h2 {
			max-width: 55rem;
		}
	}

	article {
		width: 100%;
		min-height: 75vh;
		position: relative;

		display: flex;
		flex-flow: column;
		justify-content: flex-end;
		align-items: flex-start;

		@include media-breakpoint-up(md) {
			min-height: 40vw;

			flex-flow: row;
			align-items: stretch;
			justify-content: flex-start;
			height: auto;
		}


		background: $gray-darker;
		&:nth-of-type(even) { background: $gray-dark; }

		figure {
			position: absolute;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			overflow: hidden;
			margin-bottom: 0;

			@include media-breakpoint-up(md) {
				width: percentage(2 / 3);
				left: auto;
			}

			img { display: none; }
		}

		section {
			z-index: 2;
			padding: $spacer-lg $spacer;
			display: flex;
			flex-flow: column;
			align-items: flex-start;
			justify-content: center;

			@include media-breakpoint-up(md) {
				padding: $spacer-xl;
				max-width: percentage(2 / 3);
			}
			@include media-breakpoint-up(xl) {
				max-width: percentage(1 / 3);
			}

			h2 { margin-bottom: $spacer-sm; }

			.meta {
				color: $brand-secondary;
				font-size: $font-size-sm;
				font-weight: 500;
			}
		}
	}
}
