#projects {
	background: url('../images/textblock-bg.gif');
	background-size: 8px 8px;
	@media
		only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (   min--moz-device-pixel-ratio: 2),
		only screen and (     -o-min-device-pixel-ratio: 2/1),
		only screen and (        min-device-pixel-ratio: 2),
		only screen and (                min-resolution: 192dpi),
		only screen and (                min-resolution: 2dppx) {
		background: url("../images/textblock-bg@2x.gif");
		background-size: 8px 8px;
	}

	header {
		background: $gray-darker;
		padding-top: $spacer-xl;
		padding-bottom: $spacer-xl;
		position: relative;

		&:after {
			content: '';
			display: block;
			position: absolute;
			background: url("../images/triangle.svg");
			background-repeat: no-repeat;
			background-position: bottom right;
			width: 100px;
			height: 100px;
			bottom: 0;
			right: 0;
			transform: rotate(180deg);
		}

		h1, h2 {
			@include make-col-ready();
			@include media-breakpoint-up(lg) {
				@include make-col(6);
			}
		}
	}

	.projects-container {
		@include make-container();
		 max-width: 1400px; // for huge screens it is best to have a max limit.

		padding-top: $spacer-xl;
		padding-bottom: $spacer-xl;

		display: flex;
		flex-flow: column;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-items: stretch;
	}

	article {
		position: relative;
		margin-bottom: $spacer-xl;


		display: flex;
		flex-flow: column;
		justify-content: flex-start;
		align-items: flex-start;

		background: $gray-darker;
		box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.50);


		@include media-breakpoint-up(md) {
			margin-right: $spacer;
			margin-left: $spacer;
			min-height: 23rem;

			flex-flow: row;
			align-items: stretch;
			justify-content: flex-start;
			height: auto;
			overflow: hidden;

			&:before {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				z-index: 1;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 27rem 0 0 27rem;
				border-color: transparent transparent transparent $gray-darker;
				transition: transform 0.5s ease-in-out;
				transform-origin: bottom left;

				@include media-breakpoint-up(lg) {
					border-width: 20rem 0 0 20rem;
				}
			}

			&:hover:before {
				transform: scale(.9);
			}

			&:hover figure img {
				transform: scale(1.05);
			}
		}


		figure {
			margin-bottom: 0;

			@include media-breakpoint-up(md) {
				position: absolute;
				background-repeat: no-repeat;
				background-position: center;
				right: 0;
				left: 0;
				top: 0;
				bottom: 0;
				overflow: hidden;
			}

			img {
				@include img-fluid();
				transition: transform .5s ease-in-out;
				transform-origin: bottom right;

				@include media-breakpoint-up(md) {
					display: block;
					position: absolute;
					bottom: 0;
					right: 0;
					max-width: 90%;
					max-height: 90%;
				}
			}
		}

		section {
			z-index: 2;
			padding: $spacer-lg $spacer;
			display: flex;
			flex-flow: column;
			align-items: flex-start;
			justify-content: flex-end;

			@include media-breakpoint-up(md) {
				max-width: percentage(6 / 12);
			}

			@include media-breakpoint-up(lg) {
				padding: 3rem;
			}

			h1, h2, h3, h4, h5, h6 {
				margin-bottom: $spacer-sm;
			}

			h1 {
				text-shadow: 0 0 10px transparentize($gray-darker, .6);

				@include media-breakpoint-down(xs){
					font-size: 1.7rem;
				}
			}
			.meta {
				color: $brand-tertiary;
				margin-bottom: $spacer;
				font-size: $font-size-xs;
				font-weight: 500;
			}
		}
	}
}
