h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
}

body > section header h1 {
	font-weight: 700;
	font-size: 2.5rem;
	letter-spacing: -0.05rem;
	text-transform: uppercase;
	margin-bottom: $spacer-lg;
	position: relative;
	overflow: hidden;

	@include media-breakpoint-up(md) {
		font-size: 6.5rem;
		letter-spacing: normal;
	};

	span {
		background: $body-color;
		color: $gray-dark;
		padding: $spacer-sm $spacer;
	}

	&:before {
		content: "";
		width: 2rem;
		height: 2rem;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		background:  url("../images/triangle.svg");

	}
}

body > section header h2 {
	color: $brand-primary;
	text-transform: none;
	line-height: 1.4;
	font-size: 1.5rem;
	font-weight: 500;
	margin-bottom: $spacer;
	background: linear-gradient(45deg, lighten($brand-primary, 15%), #ebbf74 40%, lighten($brand-secondary, 5%));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-font-smoothing: antialiased;
}


article h2 {
	font-size: 3rem;
	@include media-breakpoint-up(md) { font-size: 4.5rem; }
	line-height: 1;
	font-weight: 700;
	position: relative;
	color: $white;
}
