	<article>
		<figure style="background: linear-gradient(75deg, {{ .Params.gradient.color1 }}, {{ .Params.gradient.color2 }});" class="hidden-sm-down">
			<img src="images/{{ .Slug }}/{{ .Slug }}-desktop-sm.png" alt="{{ .Title }} - illustration">
		</figure>

		<a href="{{ .RelPermalink }}" class="hidden-md-up">
			<figure style="background: linear-gradient(75deg, {{ .Params.gradient.color1 }}, {{ .Params.gradient.color2 }});">
				<img src="images/{{ .Slug }}/{{ .Slug }}-desktop-sm.png" alt="{{ .Title }} - illustration">
			</figure>
		</a>

		<section>
			<h1>{{ .Title }}</h1>
			<p class="meta">
				{{ .Params.category }} | {{ .Params.role }}
			</p>
			<a href="{{ .RelPermalink }}" class="button"><span>Show me more !</span></a>
		</section>
	</article>
