	<article>
		<figure>
			<img src="images/{{ .Params.display }}" alt="" class="img-fluid">
		</figure>
		<a href="{{ .Permalink }}">
			<h1>{{ .Title }}</h1>
		</a>
		<div class="meta">
			{{ .Params.category }} | {{ .Params.role }}
		</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos quam minus autem reprehenderit reiciendis fugit, voluptas quibusdam odio dolorem nobis ullam at provident veniam incidunt cupiditate porro cum quod perspiciatis?</p>
		<a href="{{ .Permalink }}" class="more"><span>Show me more !</span></a>
	</article>
