<html lang="en-US">
	<head>
		{{ partial "head.partial.html" . }}
	</head>
	<body class="project-single">

		{{ partial "nav.partial.html" . }}

		<header>
			<div class="wrapper" style="background-image: linear-gradient(75deg, {{ .Params.gradient.color1 }}, {{ .Params.gradient.color2 }});">
				<h1>{{ .Title }}</h1>
				{{ if .Params.description }}
				<p class="hidden-sm-down">{{ .Params.description }}</p>
				{{ end }}
				<picture>
					<source srcset="/images/{{ .Slug }}/{{ .Slug }}-mobile-sm.png 400w,
									/images/{{ .Slug }}/{{ .Slug }}-mobile.png 800w" media="(max-width: 768px)">
					<source srcset="/images/{{ .Slug }}/{{ .Slug }}-desktop-sm.png 1000w,
									/images/{{ .Slug }}/{{ .Slug }}-desktop.png 2000w" media="(min-width: 769px)">
					<img src="/images/{{ .Params.display.mobile }}-sm.png" alt="{{ .Slug }}">
				</picture>
				<!-- <figure>
					<img
						srcset="./images/{{ .Params.display.mobile }}-sm.png 350w,
								./images/{{ .Params.display.mobile}}.png 700w,
								./images/{{ .Params.display.desktop }}-sm.png 800w,
								./images/{{ .Params.display.desktop }}.png 1500w"
					alt="">
				</figure> -->
			</div>
		</header>
		<section>
			<header>
				<div><span class="definition">Role</span><br>{{ .Params.role }}</div>
				<div><span class="definition">Client</span><br>{{ .Params.client }}</div>
				<div><span class="definition">Date</span><br>{{ .Params.year }}</div>
			</header>
			<article>
				<section class="text-content">
					{{ .Content }}
				</section>
				<section class="visual-content">
					<!-- illustration -->
				</section>
			</article>
		</section>
		<footer>
		 {{ if .IsPage }}
			{{ if .PrevInSection }}
				<a href="{{ .PrevInSection.Permalink }}" style="background-image:/* url('./images/{{ .PrevInSection.Params.display.desktop }}'), */ linear-gradient(90deg, {{ .PrevInSection.Params.display.color1 }}, {{ .PrevInSection.Params.display.color2 }});">
					<h5><small>Previous<br></small> {{ .PrevInSection.Title }}</h5>
				</a>
			{{ end }}
			{{ if .NextInSection }}
				<a href="{{ .NextInSection.Permalink }}" style="background-image:/* url('./images/{{ .NextInSection.Params.display.desktop }}'),*/ linear-gradient(90deg, {{ .NextInSection.Params.display.color1 }}, {{ .NextInSection.Params.display.color2 }});">
					<h5><small>Next<br></small>{{ .NextInSection.Title }}</h5>
				</a>
			{{ end }}
		{{ end }}
		</footer>

		<!-- {{ partial "footer.partial.html" . }} -->

		<script src="js/vendors.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>
