<section id="about">
	<figure class="portrait">
		<img src="images/portrait.jpg" alt="Portrait">
	</figure>
	<div class="container">
		<header>
			<h1>Who am I&nbsp;?</h1>
			<h2>UI designer and front-end developper</h2>
		</header>
		<div>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit tempore unde accusantium iure eligendi itaque ab, incidunt delectus perspiciatis neque, in maiores laudantium, magnam ratione dolorem. Ipsum, nisi, quis! Aperiam.
			</p>
		</div>
	</div>
</section>
