<nav id="main-navbar" role="navigation" {{ if .IsHome }} class="home-navigation" {{end}}>
	<a role="button" aria-label="return to home" href="{{ .Site.BaseURL }}" id="navbar-logo">
		<img src="images/small-logo.png" alt="MISSIK">
	</a>
	<a href="#" id="sidebar-toggle-btn" role="button">
		<span class="sr-only">My works (open/close navigation)</span>
	</a>
	<div id="sidebar">
		<h3 class="nav-heading">My works</h3>
		<ul role="navigation">
		{{ $currentPage := . }}
		{{ range $i, $page := where .Site.Pages "Type" "project" }}
			<li style="transition-delay: {{ mul $i 0.1 | add 0.2 | safeCSS }}s">
				<a href="{{ .Permalink }}" class="{{ if eq $currentPage.Title .Title }}active{{ end }}">
					{{ .Title }}
				</a>
			</li>
		{{ end }}
		</ul>
	</div>
</nav>
